:root{

    --silver: #bfc0c0ff;
    --white: #ffffffff; 
    --black: #020100ff;
    --coral: #ef8354ff;
    --eminence: #772d8bff;
    --eminenceLight: rgb(138, 54, 161);

    --text: #f3ecec;
    --background: #121212;
    --primary: #f77c79;
    --secondary: #95a508;
    --accent: #92f534;

    --nameBigFont : 100px;

}

/* header and body styling */

html{
    height: 100%;
}


body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2.5fr 95fr  ;
    margin: 0;
    padding: 0%;
    font-family: 'JetBrains Mono', monospace;
    color: var(--text);
    font-size: var(--defaultTextSize);
    position: relative;
    background-color: var(--background);
    text-decoration: none;
    overflow-y: scroll;
}

a{
    text-decoration: none;
}


.header{
 
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: right;
    position: sticky;
    top: 0;
    left: 0;
    align-self: start;
    
}

.menu{

    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #000000d6;
    
}

/* menu items styling */

.menu_items{
    color: var(--text);

    text-decoration: none;
}

.menu_items:hover{
    transition: 90ms;
    color: var(--accent);
}

.main_section {
    display: grid;
    gap: 10vh;
  }
  

.about_section{
    min-height: 93vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    background-image: url(../assets/images/image_options/option3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: auto;
   
}

.info_section{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5vh;
}

.greeting_text{
    font-weight: bold;
}



.name{
    display: inline-block;
    overflow: hidden;
    font-weight: bold;
    color: var(--primary) ;
    animation: typing 2s forwards;
}

/* .style {
    position: absolute;
    bottom: auto;
    left: 0;
    width: 0%;
    overflow: hidden;
} */


.name_intro{
    font-size: var(--nameBigFont);
    position: relative;
}

.socials{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.socials img{
    height: 48px;
}

.socials a{
    text-decoration: none;
    color: var(--text);
    
}

.resume_download{
    padding: 20px;
    background: var(--eminence);
    border-radius: 20px;
}

.resume_download:hover{
    transition: 1s ease-in-out  ;
    background-color: var(--eminenceLight);

}

.extended_text{
    color: var(--primary);
    width: 0%;
    overflow: hidden;
    animation: typing 2s forwards;
}

@keyframes typing {
    from{width: 0%;}
    to{width: 100%;}
}

.skill_section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    align-items: center;
    justify-items: center;
    gap: 5vh;
}

.skill_title{

    font-size: 60px;
}

.skill_list{

    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    justify-items: center;
    align-items: center;
    gap: 5vh;
}

.skill_list img{

    height: 84px;

}

.skill_list > div:nth-child(11) {
    grid-column: 1/3;
}
  
.skill_list > div:nth-child(12) {
    grid-column: 3/6;
}

.hidden{
    opacity: 0;
    transition: all 2s;
}

.show{
    opacity: 1;
}

.hidden:nth-child(2){

    transition-delay: 200ms;
}
  

.projects_section{
    
    display: grid;
    gap: 10vh;
    padding: 1%;
    justify-items: center;
    align-items: center;
}

.project_header{

    font-size: 60px;
}

.project_entry{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 70vw;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #ffffff;
    grid-template-rows: 1fr;
    padding: 10px;
}

.project_text{
    display: grid;
    
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr auto 1fr;
    align-items: center;
    height: 100%;
    gap: 10px;
}

/* .projects_section div{
    text-align: center;
    
    
}

.project_description{
    text-align: left;
} */

.projects_section img{
    width: 100%;
    height: auto;
}

.project_title{

    font-weight: bolder;
    text-align: center;

}

.project_tools{

    display: flex;
    align-items: center;
}

.project_tools img{

    height: 45px;
    width: auto;

}

.project_tools a{

    text-decoration: none;
    color: var(--textcolor);
    margin: 0px 0px 0px 20px;
    
}

.project_image{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}

.project_description{
    align-self: baseline;
}

.project_additional_options{
    display: flex;
    width: 32%;
    align-items: center;
    justify-content: space-between;
}

.github_button {
    display: flex;
    align-items: center;
    justify-content: start;
    width: fit-content;
    border: 1px solid grey;
    background-color: #2c2f3f;
    border-radius: 10px;
    padding: 5px;
  }
  

.github_button img{
    height: 32px;
    width:  32px;
}


.github_button p{
    margin: 0px 0px 0px 5px;
    color: var(--text);
    text-decoration: none;
}


/* Responsiveness */

@media only screen and (max-width: 900px) {
   
    
    .about_section{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .info_section{
        grid-row: 2/3;
    }
}

@media only screen and (max-width: 500px) {

    .socials img{
        height: 35px;
    }
   
    .skill_list > div:nth-child(11) {
        grid-column: auto;
    }
      
    .skill_list > div:nth-child(12) {
        grid-column: auto;
    }
 
    .skill_list{
        grid-template-columns: repeat(3, 1fr);
    }

    .skill_list img{
        height: 34px;
   }

   .project_tools img{

    height: 25px;
    width: auto;
   }

   .profile_photo img{
    width: 250px;
    height: auto;
   }

   .name_intro{
    font-size: 60px;
   }

   .resume_download{
    padding: 10px;
   }
    
}

@media only screen and (max-width: 800px) {
   
    
   .skill_list img{
        height: 54px;
   }


   .project_entry {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    gap: 5vh;
    padding: 5%;
    }

   .project_image{
    align-self: center;
   }
}

