@import "colours" ;
@import "variables" ;

#aboutMe {

    height: 100vh;
    display: grid;
    align-items: center;

    > div {
        height: 70%;
    }
}

.about {
    
    display: grid;
    align-items: center;

    height: 100%;
    
    h1 {
        margin: 0;
        font-size: 6rem;
    }

  

    .socials {

        display: flex;
        gap: $gapLarge;

    }

}


@media only screen and (max-width: 768px){
    
    #aboutMe {

        height: 94vh;
        display: grid;
        align-items: center;
    
        > div {
            height: 80%
            
        }
        
        a {
            color: $linkHoverColour;
            text-decoration: underline;
        }
    }

}

