#aboutMe {

    height: 100vh;
    display: grid;
    align-items: center;

    > div {
        height: 70%;
    }
}

.about {
    
    display: grid;
    align-items: center;

    height: 100%;
    
    h1 {
        margin: 0;
        font-size: 6rem;
    }

   a:hover {
        text-decoration: underline;
        color: blue;
   }

    .socials {

        display: flex;
        gap: 20px

    }

}

