@use "sass:math";

$font : '';
$fontSize : 18px;
$fontSizeMobile : 14px;
$fontColor : #1a160d;
$bgColor:   #fef9ed;
html {
    scroll-behavior: smooth;
    height: 100%;
    font-size: $fontSizeMobile;
}


body {
    min-height: 100vh;
    margin: 0;
    padding: 0%;
    font-family: $font;
    background-color: $bgColor;
    text-decoration: none;
    color: $fontColor;
    overflow-x: hidden;
   
    


    #app{

       height: 100%; 
    }

    h1 {
        font-size: 4.0rem;
        margin: 0;
    }

    h3{
        font-size: 1.75rem;
        margin: 0;
    }

    h4 {
        font-size: 1.35rem;
        margin: 0;
        font-weight: normal;
     
    }


}

li {
    list-style-position: outside;
}


.flexBody{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


a:hover {
    color: #009176;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: black;
}

.gridBody {
    display: grid;
    grid-template-rows: 6vh auto;
    // grid-template-columns: 1fr;
}

@media only screen and (min-width: 768px){
    
    .gridBody{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }

   html {
        font-size: $fontSize;
   }

    
}