@import "variables" ;

.educationHistory {

    display: grid;

    .education {
        display: grid;
        row-gap: $gapMedium;

        div {
            display: grid;
            row-gap: $gapSmall
        }

        .university {

            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;

            span {
                justify-self: right;
            }
        }
        
    }

 

}