.experiences {

    display: grid;
    row-gap: 20px;

    .experience {

        display: grid;
        row-gap: 15px;
        
        img {

            width: 50px;
            height: 50px;
        }

        h3{
            font-size: 1.75rem;
            margin: 0;
        }

        h4 {
            font-size: 1.15rem;
            margin: 0;
        }

    }

 

}