@import "variables" ;

.mainContainer {
    
    display: grid;
    grid-template-rows: 1fr auto auto 0.8fr;
    padding: 3%;
    row-gap: $gapXLarge;
    grid-row-start: 2;
}


@media only screen and (min-width: 768px){
    
    .mainContainer{

        grid-column-start: 2;
    }
}

