
$imageSize: 50px;



.sidebar {

    background-color: #8b867a;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    align-items: center;
    position: fixed;
    width: 20%;
    height: 100%;

    overflow-y: auto;

    a {
        display: inline-block;
        width: $imageSize;
    }

    

    img {

        width: $imageSize;
        height: $imageSize;
    }



    div {
        display: grid;
        justify-items: center;
    }

}