

@import "colours" ;
@import "variables" ;

.sidebar {

    background-color: #8b867a;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;
    position: fixed;
    width: 20%;
    height: 100%;

    overflow-y: auto;

    // a {
    //     display: inline-block;
    //     width: $imageSize;
    // }

    

    img {

        width: $imageSize;
        height: $imageSize;
    }



    div {
        display: grid;
        justify-items: center;
    }

    a {

        text-decoration: none;
        color: $bgColor;
    
    }

    a:hover {
        color: $sidebarHoverColour;
    }

    .hamburger{

        display: none;
        
    }
    

}

.activateHamburger {

    height: max-content;
    height: -moz-fit-content;
    height: -moz-max-content;
    
}


@media only screen and (max-width: 768px){
    .sidebar {
        position: relative;
        width: unset;
        align-items: start;
        justify-content: unset;
        padding: 3%;
        z-index: 10;
        transition: 1s;
        

        .hamburger{
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;

            .icon {
                color: $bgColor;
            }

            p {

                color: $bgColor ;
                font-size: 1.5rem;
            }
        }
    }

    
}