html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0%;
  font-family: "";
  background-color: #fef9ed;
  text-decoration: none;
  overflow-y: scroll;
  color: #1a160d;
  font-size: 18px;
  overflow-x: hidden;
}
body #app {
  height: 100%;
}
body h1 {
  font-size: 4rem;
}
body h3 {
  font-size: 1.75rem;
}
body h4 {
  font-size: 1.15rem;
}

li {
  list-style-position: outside;
}

.gridBody {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
}

.flexBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: #e6e4d9;
}