html {
  scroll-behavior: smooth;
  height: 100%;
  font-size: 14px;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0%;
  font-family: "";
  background-color: #fef9ed;
  text-decoration: none;
  color: #1a160d;
  overflow-x: hidden;
}
body #app {
  height: 100%;
}
body h1 {
  font-size: 4rem;
  margin: 0;
}
body h3 {
  font-size: 1.75rem;
  margin: 0;
}
body h4 {
  font-size: 1.35rem;
  margin: 0;
  font-weight: normal;
}

li {
  list-style-position: outside;
}

.flexBody {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a:hover {
  color: #009176;
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #1a160d;
}

.gridBody {
  display: grid;
  grid-template-rows: 6vh auto;
}

@media only screen and (min-width: 768px) {
  .gridBody {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  html {
    font-size: 18px;
  }
}