.experiences {
  display: grid;
  row-gap: 20px;
}
.experiences .experience {
  display: grid;
  row-gap: 15px;
}
.experiences .experience img {
  width: 50px;
  height: 50px;
}
.experiences .experience h3 {
  font-size: 1.75rem;
  margin: 0;
}
.experiences .experience h4 {
  font-size: 1.15rem;
  margin: 0;
}