.projects {
  display: grid;
  row-gap: 20px;
}
.projects .project {
  display: grid;
  row-gap: 15px;
}
.projects .project img {
  width: 50px;
  height: 50px;
}
.projects .project h3 {
  font-size: 1.75rem;
  margin: 0;
}
.projects .project h4 {
  font-size: 1.15rem;
  margin: 0;
}