.sidebar {
  background-color: #8b867a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 20%;
  height: 100%;
  overflow-y: auto;
}
.sidebar img {
  width: 50px;
  height: 50px;
}
.sidebar div {
  display: grid;
  justify-items: center;
}