.skillSection {
  display: grid;
  grid-template-rows: 0.15fr 0.05fr 1fr;
  align-items: center;
}

.active-option {
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px 12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px 3px 5px;
}

.skillHeader {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.skills {
  display: grid;
  align-content: center;
  justify-content: center;
}

.skillsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  height: 100%;
  /* justify-content: center; */
  justify-items: center;
}
.skillsList div {
  display: grid;
  align-items: center;
  justify-content: center;
}
.skillsList img {
  width: 60px;
  height: 60px;
}

.special_1 {
  grid-column: 1/3;
}

.special_2 {
  grid-column: 3/5;
}

.skillsUsed {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.skillsUsed div {
  display: flex;
  width: 100%;
  justify-content: start;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.skillsUsed img {
  width: 2.5rem;
  height: 2.5rem;
}

.external {
  display: flex;
  gap: 20px;
}